# python 3.12
# server
django
djangorestframework
django-cors-headers
gunicorn

# ai
openai
langchain
langgraph
tiktoken
langchain-mcp-adapters
mcp

# comms
twilio

# math/ml
numpy

# connectors
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client