# python 3.12
# server
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
psycopg2-binary

# ai
openai
langchain
langgraph
langchain-openai
tiktoken
langchain-mcp-adapters
mcp
dotenv
dotenv-cli

# comms
twilio

# math/ml
numpy

# connectors
google-auth
google-auth-oauthlib==1.2.0
google-api-python-client==2.139.0
googleapis-common-protos==1.63.1
requests