# python 3.12
# server
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
psycopg2-binary

# ai
openai
langchain
langgraph
langchain-openai
tiktoken
langchain-mcp-adapters
mcp
dotenv

# comms
twilio

# math/ml
numpy

# connectors
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client